@model WebAppVentaDSI.Models.Cliente


<h1>Añadir Nuevo</h1>

<h4>Cliente</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @*<div class="form-group">
            <label asp-for="IdCliente" class="control-label"></label>
            <input asp-for="IdCliente" class="form-control" />
            <span asp-validation-for="IdCliente" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <label>Nombre</label>
                <input asp-for="NombreCliente" class="form-control" />
                <span asp-validation-for="NombreCliente" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Apellidos</label>
                <input asp-for="ApellidosCliente" class="form-control" />
                <span asp-validation-for="ApellidosCliente" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>DNI</label>
                <input asp-for="DNICliente" class="form-control" />
                <span asp-validation-for="DNICliente" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Sexo</label>
                @*<input asp-for="SexoCliente" class="form-control" />
                <span asp-validation-for="SexoCliente" class="text-danger"></span>*@
                <select class="form-control" asp-for="SexoCliente">
                    <option value="M">Masculino</option>
                    <option value="F">Femenino</option>
                </select>
            </div>
            <div class="form-group">
                <label>Telefono</label>
                <input asp-for="TelefonoCliente" class="form-control" />
                <span asp-validation-for="TelefonoCliente" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Fecha Nacimiento</label>
                <input asp-for="FechaNacCliente" class="form-control" type="Date" />
                <span asp-validation-for="FechaNacCliente" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Direccion</label>
                <input asp-for="DireccionCliente" class="form-control" />
                <span asp-validation-for="DireccionCliente" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Añadir" class="btn btn-primary btn-sm" />
                <a asp-action="Index" class="btn btn-success btn-sm" role="button">Cancelar</a>
            </div>
        </form>
    </div>
</div>



@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
